@font-face {
    font-family: 'LowBrow';
    src: url('LowBrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
}

.card {
    font-family: LowBrow, sans-serif;
    font-size: 3em;
    text-align: center;
    background-image: url("card.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 300px;
    width: 100%;
    aspect-ratio: 100 / 145;
    padding: 0.4em;
    background-origin: content-box;
    border: 2px solid black;
    border-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    #rotate-screen {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@media (orientation: portrait) {
    .card {
        max-width: 100%;
    }
}

.card > * {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1em;
    padding: 0 0.5em 0 0.5em;
}

.card .top {
    height: 25%;
    margin-top: 25%;
    margin-bottom: 5%;
    border-bottom: none;
}

.card .bottom {
    height: 39%;
    margin-bottom: 20%;
    color: white
}